      <div class="MenuIni">
   
   <fieldset class="fieldset1 border p-2">
         <legend> Menú </legend>

         <img title="icono de flaticon " class="fotoHomeBase1" width="35px" src="/images/agenda1.png">
         <br/>
      
         
         <p class="UserNoreg"> <b>Usuario no registrado</b></p>
        
             <a class="Negro  btnfalse" href="{{ path('app_pato_index') }}"> Área patologías </a>
             <a  class="Negro  btnfalse" href="{{ path('app_paciente_index') }}"> Área  pacientes</a>
             <a  class="Negro  btnfalse" href="{{ path('app_diagnostico_index') }}">Diagnósticos</a>
             <a  class="Negro  btnfalse" href="{{ path('app_factura_index') }}">Genere facturas</a> 
      </fieldset>

      </div>